/* style.css */

body{
    --background: #2c2c2c;
    --medium: #929292;
    --light: #e1e1e1;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    color: var(--medium);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

.main{
    width: 1300px;
    min-width: 800px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(63, 63, 63); */
    padding: 5vh 2vw;
}

#styleSection, #sketchSection, #formatSection{
    width: 100%;
    padding: 16px 16px;
}

input{
    border: none;
    height: 40px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    color: var(--light);
    background-color: var(--background);
}

h1{
    color: var(--light);
}

h2{
    margin-top: 36px;
    color: var(--light);
}

h4{
    margin: 0px;
    padding: 0px 12px;
}

/* ------------------------------------------- */

#styleSection{
    /* background-color: pink; */
    width: 50%;
}

/* ------------------------------------------- */

#sketchSection{
    /* background-color: red; */
    width: 100%;
}

#gridBlock{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: yellow; */
    justify-content: center;
    align-content: center;
    background-color: black;
}

.square{
    background-color: white;
    opacity: 1;
}

/* ------------------------------------------- */

#formatSection{
    /* background-color: purple; */
    width: 50%;
}

.gridInputSection{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#gridSize{
    border: 2px solid;
    border-color: var(--light);
    border-radius: 30px;
}

.drawSelect, .penSelect{
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
}



.drawSelect input, .penSelect input{
    margin: 0px;
    padding: 0px;
    width: 24px;
    border: 2px solid;
}